.bopshop-masonry-grid {
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}

.bopshop-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}
